@font-face {
   font-family: 'Motorblock';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-03-23_010759/fonts/Motorblock/font.ttf');
}
